/*****THIS IS SASS WHICH IS REQUIRED FOR FCC CHALLENGE
//LOCALLY I'M GOING TO CONVERT TO SIMPLE CSS
$primary-color: #edf1fa
$border: solid

body 
  background: $primary-color

.app 
  margin-top: 30px

.output-text 
  border-left: $border
  border-width: 1px
*/


body {
    background: #edf1fa;
}

.app {
    margin-top: 30px;
}

.output-text {
    border-left: solid;
    border-width: 1px;
}



